{% include 'header_lk_template.html' %}

<section class="dashboard-card">
    <h2>Соревнования</h2> <br><a href="{{ url_for('create_contest') }}"><button class="btn btn-gold">Создать вызов</button></a>
    {% for contest in contests %}
    <div class="wrapperFake">
        <div class="dashboard-card">
            <h3>Соревнование {{ contest['id'] }}</h3>
            <h4>{{ contest['user_1'] }} против {{ contest['user_2'] }}</h4><br>
            Предмет: {{ contest['subject'] }}<br>
            Сложность: {{ contest['complexity'] }}<br>
            Начало: {{ contest['started_at'] }}<br>
            Конец: {{ contest['ending_at'] }}<br>
            Статус: {{ contest['status'] }}<br>
            {% if not contest['user_2'] %}<a href="{{ url_for('applyToContest', contid=contest['id']) }}"><button class="btn btn-gold">Присоединиться</button></a>{% endif %}
        </div>
    </div>
    {% endfor %}
</section>
<script>
    socket.on('message', function(data) {
    console.log(data)
    if (['post_new_contest', 'applied_to_contest'].includes(data)){
    console.log('True')
        location.reload();
    }else{
    console.log('False')
    }
    //location.reload(); // Перезагружаем страницу
});
</script>
{% include 'footer_lk_template.html' %}