{% include 'header_lk_template.html' %}
<section class="dashboard-card">
    <h2>Задания поединка</h2><br>
    {% for taskid in tasklist %}
    {% set task = tasks[taskid] %}
    <div class="wrapperFake">
        <a href="{{ url_for('solve_task', taskid=task['id']) }}">
            <div class="dashboard-card">
                <h3>{{ task['name'] }}</h3><br>
                Предмет: {{ task['subject'] }}<br>
                Тема: {{ task['theme'] }}<br>
                Сложность: {{ task['complexity'] }}
            </div>
        </a>
    </div>
    {% endfor %}
    <br>
    <br>
</section>
<!--<script>
    socket.on('message', function(data) {
    console.log(data)
    if (['update_task', 'post_new_task'].includes(data)){
    console.log('True')
        location.reload();
    }else{
    console.log('False')
    }
    //location.reload(); // Перезагружаем страницу
});
</script>-->
{% include 'footer_lk_template.html' %}