{% include 'header_lk_template.html' %}
<script src="https://cdn.anychart.com/releases/8.14.0/js/anychart-base.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/graphics.js') }}"></script>

<section id="scores" class="dashboard-card">
    <h2>Прогресс</h2>
    <p>Посмотрите на свои результаты в этом месяце</p>
    <div class="scoreChart">
        <div id="scoreChart"
             data-chart-data='{{ chart_data_json|safe }}'
             style="height: 400px; width: 100%;">
        </div>
    </div>
</section>

{% include 'footer_lk_template.html' %}