<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Olympiad Prep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
</head>

<body>

    {% include 'header_template.html' %}

    <div class="dashboard-container">
        <aside class="dashboard-sidebar">
            <h3>Добро пожаловать, {{ session.username }}!</h3>
            <nav>
                <a href="#scores" class="sidebar-link">Прогресс</a>
                <a href="#settings" class="sidebar-link">Аккаунт</a>
            </nav>
        </aside>

        <main class="dashboard-main">

            <section id="scores" class="dashboard-card">
    <h2>Прогресс</h2>
    <p>Посмотрите на свои результаты в этом месяце</p>
    <div class="scoreChart">
        <!-- Изменить canvas на div для AnyChart -->
        <div id="scoreChart"
                         data-chart-data='{{ chart_data_json|safe }}'
                         style="height: 400px; width: 100%;">
                    </div>
    </div>
</section>

            <section class="dashboard-card">
                <table>
                <tr>
                    <td>
                <h2>Ваш аккаунт</h2>
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <p>{{ session.username }}</p>
                </div>
                <div class="form-group">
                    <label>Электронная почта</label>
                    <p>{{ session.email }}</p>
                </div>
                <div class="form-group">
                    <label>Фото профиля</label>
                    <p><img src="{{ profile_pic }}"></p>
                </div>
                        <a href="{{ url_for('logout') }}"><button class="btn btn-gold">Выйти из аккаунта</button></a><button class="btn btn-gold" id="change_pic">Сменить аватарку</button>
                    </td>
                </tr>
                </table>
            </section>

        </main>
    </div>

    {% include 'footer_template.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphics.js') }}"></script>
</body>
</html>