<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Predprof</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="navbar">
        <div class="logo"><a href="{{ url_for('mainpage') }}">🎓 Predprof</a></div>
        <div class="nav-right">
            {% if loggedin %}
                <a href="{{ url_for('account') }}" title="Мой профиль">
                    <img src="{{ profile_pic }}" alt="Профиль" class="profile-pic">
                </a>
            {% else %}
                <a href="{{ url_for('login') }}" title="Войти">
                    <img src="/static/profile_pics/generic_profile_picture.jpg" alt="Профиль" class="profile-pic">
                </a>
            {% endif %}
        </div>
    </header>
    <br>
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on("message", function(data) {
            console.log('Сообщение: ' + data)
        });

        function sendMessage() {
            var msgInput = document.getElementById("msg");
            var message = msgInput.value;
            socket.send(message);
            msgInput.value = "";
        }
    </script>
