<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    {% include 'header_template.html' %}
    <div class="register-container">
        <div class="register-box">
            <h2>Вход</h2>

            <form id="loginForm" action="/login" method="POST">
                <div class="input-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" placeholder="Vasya777" required>
                </div>

                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" placeholder="12345" required>
                </div>
                <div id="error-message" class="error-text"></div>

                <button type="submit" class="btn-continue">Продолжить</button>
            </form>

            <div class="footer-links">
                <a href="/">Вернуться</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>