{% include 'header_lk_template.html' %}
            {% if session.adm %}
            <section class="dashboard-card">
                <h2>Новое задание</h2><br>

                <form action="{{ url_for('post_new_task') }}" method="POST" enctype="multipart/form-data">

                        Название задачи: <br><input type="text" id="task_name" name="task_name"><br>
                        Предмет: <br><input type="text" id="subject" name="subject" value="{{ subject }}"><br>
                        Сложность:<br>
                        <select name="complexity" id="complexity" name="complexity">
                            <option value="Легкая">Легко</option>
                            <option value="Средняя">Средне</option>
                            <option value="Сложная">Сложно</option>
                        </select><br>
                        Тема: <br><input type="text" id="theme" name="theme"><br>
                        Условие задачи: <br><input type="text" id="description" name="description" value="{{ description }}"><br>
                        Ответ: <br><input type="text" id="answer", name="answer" value="{{ answer }}"><br>
                        Подсказка: <br><input type="text" id="hint" name="hint"><br>
                        <button type="button" class="btn btn-gold" onclick="this.form.submit()"id="reloadButton">Сохранить</button>
                    </form>
                <form action="{{ url_for('import_task') }}" method="POST" enctype="multipart/form-data" style="display: inline;">
                        <input type="file" id="taskInput" name="file" accept=".json" style="display: none;" onchange="this.form.submit()">
                        <button type="button" class="btn btn-gold" onclick="document.getElementById('taskInput').click()">Импортировать задачу из JSON</button>
                </form>
            </section>
            {% endif %}

<script>
    var socket = io();
        socket.on("message", function(data) {
            var messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
        });
        //document.getElementById('reloadButton').addEventListener('click', function() {
          //  socket.emit('request_reload', {}); // Отправляем пустой объект, так как данные не нужны
        //});
</script>
{% include 'footer_lk_template.html' %}