{% include 'header_lk_template.html' %}
<div class="dashboard-card">

    <h2>{{ task_name }}</h2><br>
    {{ solvationStatus|safe }}<br>
    Сложность: {{ complexity }}<br>
    Тема: {{ theme }}<br><br>
    <div class="task-text">{{ description }}</div><br>
    <h3>Подсказка: </h3>{% if hint_trigger %} {{ hint }} {% endif %}<br>
    <a href="{{ url_for('solve_task', taskid=taskid, hint_trigger=True) }}"><button type="button" class="btn btn-gold" onclick="this.form.submit()">Получить подсказку</button></a>
    <h3>Впишите ответ:</h3>
    <form action="{{ url_for('solve_task', taskid=taskid) }} " method="POST">
        <input type="text", id="answer", name="answer" {% if trigger %} readonly="readonly" {% endif %}>
        <button type="button" class="btn btn-gold" onclick="this.form.submit()">Отправить ответ</button>
    </form>
    {{ msg }}<br>
    <a href="{{ url_for('choose_task') }}"><button type="button" class="btn btn-gold">Вернуться</button></a>
{% include 'footer_lk_template.html' %}