{% include 'header_lk_template.html' %}
            {% if session.adm %}
            <section class="dashboard-card">
                <h2>Банк заданий</h2><br>
                    {% for task in tasklist %}
                        <a style="color: black" href="{{ url_for('task', taskid=task['id']) }}">Задание: {{ task['name'] }}</a><br>
                <a style="color: black" href="{{ url_for('download', taskid=task['id']) }}"><button class="btn btn-gold">Скачать задание</button></a><br>
                    {% endfor %}
                <br>
                <br>
                <a href="{{ url_for('new_task') }}"><button class="btn btn-gold">Новое задание</button></a>


            </section>
            {% endif %}
<script>
    socket.on('message', function(data) {
    console.log(data)
    if (['update_task', 'post_new_task'].includes(data)){
    console.log('True')
        location.reload();
    }else{
    console.log('False')
    }
    //location.reload(); // Перезагружаем страницу
});
</script>
{% include 'footer_lk_template.html' %}